<body bgcolor="black">
  <font face="courier" color="white" size=28px><center>Battleships Web</center></font>
  <form action='/enter_name'>
    <input type='submit' value="New Game" style="height:10px; width:70px"\>
  </form>
</body>

