<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

<!--   <audio controls autoplay>
    <source src="sound.mp3" type="audio/mpeg">
  </audio> -->

      <h1>Battleships Web</h1>
      <form action='/enter_name' method="get">
      <input type='submit' value="New Game" id="button">
      </form>
  </body>
</html>




