<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h3>Its your turn <%= @player.name.capitalize %></h3>

    <% if @message %>
      <h1><%= @message %></h1>
    <% end %>



<table class="center">
<% @player.board.grid.each_slice(10) do |row|%>
  <tr>
   <%row.each do |cell| %>
    <td id="button"> <a href="/shoot?cell=<%=cell[0]%>"><%= cell[0] %></a> </td>
   <%end%>
  </tr>
<%end%>
</table>

</body>