body{
  background-color: black;
  text-align: center;

}

h1{
  margin-top: 225px;
  font-weight: lighter;
  font-family: courier;
  color: white;
  font-size: 100px
}

h2{
  color: white;
  font-family:courier;
  margin-right: 70px
}

#button{
  border-radius: 100px;
  font-family: courier;
  color: white;
  background-color: black;
  font-size:20px;
}

#button:hover{
  background-color: silver;
}

form
{
  text-align: center;
}


table.center {
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  width: 80%;
}

th{
  color: white;
  font-family: courier;
}

td{
  border: 2px solid white;
  color: white
}

